.Container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.Img {
  width: 294px;
  height: 150px;
  border-radius: 10px;
}
.ImgBeginer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background: #ffffff;
  backdrop-filter: blur(15px);
  border-radius: 8px;
  margin: 15px;
  top: 140px;
  bottom: 0;
}
.Title {
  max-width: 294px;
  max-height: 54px;
  margin: 20px 0 11px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #141522;
}

.AutorConteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;

  .Autor {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #9c9ca4;
  }
  .Rating {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #141522;
  }
}

.StudentsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
